body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./mfuture.jpg');
  background-size:     cover;                
  background-repeat:   no-repeat;
  background-attachment: fixed;
  color: rgb(229, 18, 53);  
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  background-color: #f3f3f3;
  
}

.logos{
  display: flex;
  justify-content: space-between;
  width: 30rem;
}

.navHeader{
  background-image: url('./mahindralogo.jpg');
  width: 82px;
  height: 40px;
}
.navHeader1{
  background-image: url('./mands.jpg');
  width: 197px;
  height: 45px;
}
.navHeader2{
  background-image: url('./Skoda.jpg');
  width: 60px;
  height: 60px;
}
.navHeader3{
  background-image: url('./honda.jpg');
  width: 60px;
  height: 45px;
}
.navHeader4{
  background-image: url('./Hyundai.jpg');
  width: 60px;
  height: 45px;
}

.lucas{
  font-size: 3rem;
  line-height: 0;
  color: rgb(228, 123, 11);
}

.navTitleBox{
  display: flex;
  gap: 3rem;
  width: 26rem;
  margin-right: 3rem;
}

.navTitle{
  font-size: 2rem;
  font-weight: 600;
  list-style-type: none;
}

.navText{
  text-decoration: none;
  color: rgb(242, 156, 35);
}

.logBox{
  margin-right: 2rem;
  align-items: center;
  justify-content: center;
}

.user-logout{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.userName{
  font-size: 2rem;
  line-height: 1rem;
  color: rgb(131, 71, 187);
}

.logBtn{
  width: 6rem;
  height: 3rem;
  border-radius: 1rem;
  border: 2px solid rgb(69, 8, 125);
  background-color: rgb(242, 156, 35);
  color: rgb(69, 8, 125);
}

.carInventory{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
}

h1{
  text-align: center;
  color: rgb(86, 6, 120);
  font-size: 3rem;
}

.inventoryTitle{
  font-size: 3rem;
}

.allCarsBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.carImage{
  width: 25rem;
  height: 17rem;
  border-radius: 1rem 1rem 0 0;
}

.infoBox{
  display: flex;
  justify-content: center;
}

.pInfo{
  font-size: 2rem;
  color: rgb(241, 55, 9);
  margin: 8px;
}

.moreInfo{
  font-size: 2rem;
  text-decoration: none;
  color: rgb(162, 16, 241);
  margin: 8px;
}

.carTitle{
  margin: 10px;
}

.counterTitle{
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.btn{
  margin-left: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
